---
layout: default
title: Home
---

<h1>{{ page.title | capitalize }}</h1>

<h2>Recent Posts</h2>
<ul>
  {% for post in site.posts limit: 3 %}
      <li>
          <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
          {{ post.excerpt }}
      </li>
      {% endfor %}
</ul>

<h2>Recent Projects</h2>
<ul>
  {% for project in site.projects limit: 3 %}
      <li>
          <h2><a href="{{project.url}}">{{ project.title }} v{{project.major_version}}</a></h2>
          {{ project.description }}
      </li>
      {% endfor %}
</ul>